<% layout('layouts/boilerplate')%>
<%- include('../partials/navbar')%>
    <h1>Our Products</h1>

<div class="row">

  <% for (let item of products) { %>
    <div class="col-lg-4 mt-3">
      <div class="card mx-auto" style="width: 18rem;">
        <img src="<%= item.img %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title"><%= item.name %></h2>
          <h5 class="card-title">₹ <%= item.price %></h5>
          <p class="card-text"><%= item.desc %></p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>

  <% } %>

</div>
</body>
</html>